

.my_header {
    background-color: #212529;
}

footer {
    text-align: center;
    margin-top: 120px; /*96pixels is one inch*/
    background-color: #212529;
}

.my_footer {

    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.stripe {
    background-color: #212529;
    position: relative;
}

    .stripe:before {
        content: "";
        background-color: #212529;
        position: absolute;
        height: 100%;
        width: 4000px;
        left: -2000px;
        z-index: -1;
    }