

.my_header {
    background-color: #212529;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

&::-webkit-scrollbar:horizontal {
    height: 0;
    width: 0;
    display: none;
}

&::-webkit-scrollbar-thumb:horizontal {
    display: none;
}


.stripe {
    background-color: #212529;
    position: relative;
}

    .stripe:before {
        content: "";
        background-color: #212529;
        position: absolute;
        height: 100%;
        width: 200vw;
        left: -100vw;
        z-index: -1;
    }